@import '../../variables';
@import '../../styles/breakpoints';

.header{
    @include flexCenter();
    color: #d62828;
    font-weight: 700;

    img{
        animation: move 2s infinite alternate ease-in-out;
        max-width: 600px;

        @media(max-width: $tablet) {
          max-width: 450px;   
        }

        @media(max-width: $mobile-sm) {
          max-width: 300px;   
        }
    }

    @keyframes move {
        from{
          transform: translate(-5%, -5%);
        }        
    }
     
    @media(max-width: 450px) {
      flex-wrap: wrap;
      margin-bottom: 1.5rem;
      padding: 0.9rem;  
    }
}

.title{
  font-size: 1.2rem;

  @media(max-width: $tablet) {
     font-size: 1.08rem; 
  }

  @media(max-width: $mobile-sm) {
    font-size: 0.8rem;
  }

  @media(max-width: 450px) {
    font-size: 0.68rem;
    text-align: center;
  }
}