@import '../../styles/breakpoints';

.cardCategoria{
    background-color: #cad2c5;
    padding: 1rem 0;
    margin: 0.5rem; 
    box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
    border-radius: 5px;
    color: #2f3e46;
    font-weight: 700;
    font-size: 1.1rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    img{
        width: 250px;
        height: 310px;

        @media(max-width: $tablet){
            padding: 0.8;
            width: 210px;
            height: 280px;
        }
    }

    button{
        background-color: #FF4242;
        border: none;
        padding: 10px 26px;
        color: white;
        border-radius: 20px;
        box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
        border-top: 4px solid rgba(230, 236, 245, 0.4);
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-weight: 500;

        &:hover{
            background-color: #D81C1C;
        }
    }

    @media(max-width: $tablet) {
        padding: 0.8;
    }

}